/* Import Inter font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');

/* Colors */
:root {
    --black: #263238;
    --d-grey: #4D4D4D; 
    --grey: #717171;
    --l-grey: #89939E;
    --grey-blue: #ABBED1;
    --silver: #F5F7FA;
    --white: #FFFFFF;
    
    /* Primary Color */
    --primary: #4CAF4F;
    
    /* Secondary Color (assuming there's only one) */
    --secondary: #263238;
    
    /* Info Color */
    --info: #2194f3;
  }
  
  /* Color Shades */
  :root {
    --shade-1: #43A046;
    --shade-2: #388E3B;
    --shade-3: #237D31;
    --shade-4: #1B5E1F;
    --shade-5: #103E13;
  }
  
  /* Color Tints */
  :root {
    --tint-1: #66BB69;
    --tint-2: #81C784;
    --tint-3: #A5D6A7;
    --tint-4: #C8E6C9;
    --tint-5: #E8F5E9;
  }
  
  /* Action Colors */
  :root {
    --warning: #FBC02D;
    --error: #E53835;
    --success: #2E7D31;
  }
  /* font-sizes */
  :root{
    --font-normal: 1.3rem;
    --font-head : 3rem;
  }
  /* css-reset */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    font-size: 16px;
  }
  body{
    width: 100%;
    height: 100%;
    font-family: Inter, sans-serif; /* Inter as primary, fallback to sans-serif */
    /* font-size: 16px; */
    /* font-size: 8px; */
  }
  /* utility */
  .outline{
    outline: 1px solid var(--black);
  }

    /* nav-styles */
    nav{
        outline: 1px solid var(--primary);
        height: 5rem;
    }

    .nav-wrapper{
        max-width: 1500px;
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .img-con{
        width: fit-content;
    }
    .img-con img{
        width: 12rem;
    }

    .nav-menu-con{
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 1.8rem;
    }
    .nav-menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.8rem;

    }
    .nav-menu a{
        font-size: 1.2rem;
        text-transform: capitalize;
        color: var(--d-grey);
        text-decoration: none;
        font-weight: medium;

    }
    .nav-menu .home-btn{
        padding: 1.8rem;
    }
    /* .nav-menu :first-child{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        color: white;
    } */

    .menu-btn-con .register{
        background-color: var(--primary);
        outline:none;
        border: none;
        color: var(--white);
        padding: 1rem 2rem;
        text-transform: capitalize;
        font-size: 1.2rem;
        border-radius: 3px;
        font-weight: medium;
    }

/* heroSection */
.hero{
    background-color: var(--silver);
}
.hero-con{
    max-width: 1500px;
    width: 90%;
    height: 700px;
    margin: 0 auto;
    /* outline: 1px solid red; */
    padding: 6rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hero-detail{
    padding-top: 3rem;
    height: 100%;
    width: 60%;
}
.hero-img{
    width: 35%;
    height: 100%;
    background-image: url("./assets/images/header-img.png");
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    /* outline: 1px solid red; */
}
.hero-detail h1{
    font-size: 5rem;
    font-weight: 600;
    color: var(--d-grey);
}
.hero-detail h1 span{
    color: var(--primary);
}
.hero-detail p{
    margin-top: 1rem;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.hero-detail button{
    margin-top: 2rem;
    background-color: var(--primary);
    outline:none;
    border: none;
    color: var(--white);
    padding: 1rem 2rem;
    text-transform: capitalize;
    font-size: 1.2rem;
    border-radius: 3px;
    font-weight: medium;
}


/* main - our clients */

main .our-clients{
    max-width: 1500px;
    width: 90%;
    margin: 2.5rem auto;
    /* outline: 2px solid green; */
    text-align: center;
}

.our-clients h1{
    font-size: 3rem;
    font-weight: 600;
    color: var(--d-grey);
}

.our-clients p{
    font-size: 1.3rem;
    color: var(--grey);
    padding: 1rem 0;
}

.our-clients .clients-img{
    margin: 1rem 0;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* outline: 1px solid red; */
}

/* utility classes */
.container{
    max-width: 1500px;
    width: 90%;
    margin: 2.5rem auto;
    /* outline: 1px solid red; */
}
.section-heads{
    font-size: 3rem;
    font-weight: 600;
    color: var(--d-grey);
}
.section-desc{
    font-size: 1.3rem;
    color: var(--grey);
    padding: 1rem 0;
}
.back-grounds{
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}

.manage-community{
    margin-top: 3rem;
}

.manage-community .details{
   width: 750px; 
   margin: 0 auto;
   text-align: center;
}
.manage-community .card-container{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.manage-community .card-container .card{
    padding: 2rem;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px 0px rgba(171, 190, 209,20%) ;

}
/* .manage-community .card-container .card img{
    margin-bottom: 1.7rem;
} */

.manage-community .card-container .card h2{
    font-size: 2.4rem;
    color: var(--d-grey);
    text-align: center;
    margin: 1.5rem auto;
}


/* pixelgrade */

.pixelgrade{
    /* outline: 1px solid red; */
    margin-top: 170px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.pixelgrade .left{
    background-image: url("./assets/images/side/1.png");
    flex-basis: 40%;
    height: 100%;
    
}
.pixelgrade .right{
    width: 60%;
}

.pixelgrade .right a{
    display: inline-block;
    margin-top: 2rem;
    background-color: var(--primary);
    outline:none;
    border: none;
    color: var(--white);
    padding: 1rem 2rem;
    text-transform: capitalize;
    font-size: 1.2rem;
    border-radius: 3px;
    font-weight: medium;
    margin: 2rem 0;
    text-decoration: none;
}



/* helping */

.helping{
    background-color: var(--silver);
}
.helping-wrapper{
    height: 400px;
    display: flex;
    align-items: center;
}
.helping-wrapper .left{
    width: 50%;

}
.helping-wrapper .left h1 span{
    color: var(--primary);
}
.helping-wrapper .left p{
    margin: 1rem 0;
}
.helping-wrapper .right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    /* outline: 1px solid red; */

}
.helping-wrapper .up{
    
    display: flex;
    width: 100%;
    gap: 1rem;
}
.helping-wrapper .down{
    
    display: flex;
    width: 100%;
    gap: 1rem;
   
}

.meter{
    display: flex;
    align-items: center;
    width: 400px;
    /* outline: 1px solid black; */
    justify-content: start;
    gap: 1rem;
}
.meter img{
    width: 80px;
}
.meter .details h2{
    color: var(--d-grey);
    font-size: 2.5rem;
}
.meter .details p{
    color: var(--l-grey);
    margin-top: 0.4rem;
    padding-left: 0.3rem;
    /* outline: 1px solid red; */
}
#our-design{
    margin-top: 0;
}
#second-ground{
    background-image: url('./assets/images/side/2.png');
}



/* tesla */

.tesla{
    background-color: var(--silver);
    padding: 1rem 0;
}

.tesla-wrapper{
    display: flex;
    justify-content: space-between;
}
.tesla-wrapper .left{
    width: 28%;
    /* height: 400px; */
    border-radius: 10px;
}
.tesla-wrapper .left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.tesla-wrapper .right{
    width: 65%;
}

.tesla-wrapper .right h3{
    margin: 1rem 0;
    color: var(--primary);
    font-size: 1.5rem;
}

.tesla-wrapper .right .clients-img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.tesla-wrapper .right .clients-img .green-client


