/* Import Inter font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');

/* Colors */
:root {
    --black: #263238;
    --d-grey: #4D4D4D; 
    --grey: #717171;
    --l-grey: #89939E;
    --grey-blue: #ABBED1;
    --silver: #F5F7FA;
    --white: #FFFFFF;
    
    /* Primary Color */
    --primary: #4CAF4F;
    
    /* Secondary Color (assuming there's only one) */
    --secondary: #263238;
    
    /* Info Color */
    --info: #2194f3;
  }
  
  /* Color Shades */
  :root {
    --shade-1: #43A046;
    --shade-2: #388E3B;
    --shade-3: #237D31;
    --shade-4: #1B5E1F;
    --shade-5: #103E13;
  }
  
  /* Color Tints */
  :root {
    --tint-1: #66BB69;
    --tint-2: #81C784;
    --tint-3: #A5D6A7;
    --tint-4: #C8E6C9;
    --tint-5: #E8F5E9;
  }
  
  /* Action Colors */
  :root {
    --warning: #FBC02D;
    --error: #E53835;
    --success: #2E7D31;
  }
  /* css-reset */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    width: 100%;
    height: 100%;
    font-family: Inter, sans-serif; /* Inter as primary, fallback to sans-serif */
    font-size: 16px;
  }
  /* utility */
  .outline{
    outline: 1px solid var(--black);
  }

    /* nav-styles */
    nav{
        outline: 1px solid var(--primary);
        height: 5rem;
    }

    .nav-wrapper{
        max-width: 1500px;
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .img-con{
        width: fit-content;
    }
    .img-con img{
        width: 12rem;
    }

    .nav-menu-con{
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 1.8rem;
    }
    .nav-menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.8rem;

    }
    .nav-menu a{
        font-size: 1.2rem;
        text-transform: capitalize;
        color: var(--d-grey);
        text-decoration: none;
        font-weight: medium;

    }
    .nav-menu .home-btn{
        padding: 1.8rem;
    }
    /* .nav-menu :first-child{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        color: white;
    } */

    .menu-btn-con .register{
        background-color: var(--primary);
        outline:none;
        border: none;
        color: var(--white);
        padding: 1rem 2rem;
        text-transform: capitalize;
        font-size: 1.2rem;
        border-radius: 3px;
        font-weight: medium;
    }

/* heroSection */
.hero{
    background-color: var(--silver);
}
.hero-con{
    max-width: 1500px;
    width: 90%;
    height: 700px;
    margin: 0 auto;
    /* outline: 1px solid red; */
    padding: 6rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hero-detail{
    padding-top: 3rem;
    height: 100%;
    width: 60%;
}
.hero-img{
    width: 35%;
    height: 100%;
    background-image: url("./assets/images/header-img.png");
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    /* outline: 1px solid red; */
}
.hero-detail h1{
    font-size: 5rem;
    font-weight: 600;
    color: var(--d-grey);
}
.hero-detail h1 span{
    color: var(--primary);
}
.hero-detail p{
    margin-top: 1rem;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.hero-detail button{
    margin-top: 2rem;
    background-color: var(--primary);
    outline:none;
    border: none;
    color: var(--white);
    padding: 1rem 2rem;
    text-transform: capitalize;
    font-size: 1.2rem;
    border-radius: 3px;
    font-weight: medium;
}
